@charset "utf-8";

:root {
  --yellow: #fcbb4c;
  --brown: #4A2400;
  --soy: #BBAA88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-family: 'Josefin Sans', 'M PLUS 1p', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  min-width: 320px;
}
li {
  list-style: none;
}
a {
  color: #ff9830;
}

body.ja .en:not(.ja),
body.ja .cn:not(.ja) {
  display: none;
}
body.en .ja:not(.en),
body.en .cn:not(.en) {
  display: none;
}
body.cn .ja:not(.cn),
body.cn .en:not(.cn) {
  display: none;
}

[data-animation] {
  transition: 0.5s 0.3s;
}

.header {
  position: relative;
  background-color: var(--brown);
  background-image: url('../img/lp/cover.png');
  background-repeat: no-repeat;
  background-size: min(160vw, 1920px) auto;
  background-position: center top;
  overflow: hidden;
  height: 45vw;
  max-height: 540px;
}
.header-content {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 2;
}

.headerLogo {
  padding-top: 7%;
  width: 60%;
  max-width: 700px;
  margin: auto;
}
.headerBody {
  padding: 2% 20px;
  width: 60%;
  max-width: 700px;
  margin: auto;
}

.buttonList {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
.buttonList-item {
  margin: auto 10px;
}
.buttonList-item img {
  max-height: 50px;
}

.gameInfo {
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  color: var(--brown);
  text-shadow: 0 0 2px var(--yellow), 0 0 2px var(--yellow), 0 0 2px var(--yellow), 0 0 2px var(--yellow), 0 0 2px var(--yellow);
}

.lang {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: #222;
  border-radius: 0 0 0 20px;
}
.lang-item {
  margin: 0 5px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
body.en .changeLang[data-lang="en"] {
  color: var(--yellow);
}
body.ja .changeLang[data-lang="ja"] {
  color: var(--yellow);
}
body.cn .changeLang[data-lang="cn"] {
  color: var(--yellow);
}

.article {
  padding: 120px 20px;
}
.article-content {
  margin: auto;
  max-width: 1200px;
}
.articleHeading {
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0.6em;
  color: var(--yellow);
}

.story {
  background-color: #210;
  line-height: 3em;
  color: #FFF;
}

.history {
  margin: 50px auto 50px;
  font-size: 1.8rem;
  color: var(--soy);
  transition: 1s;
}
.introduction {
  transition: 1s 0.5s;
}
.introduction h3 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: normal;
}
.introduction p {
  font-size: 2rem;
}

.features .articleHeading {
  color: var(--brown);
}
.featureItem {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1.7;
  color: #210;
}
.featureItem:not(:first-child) {
  margin-top: 70px;
}
.featureItem-img {
  width: 50%;
  border-radius: 5.625% / 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: rotate(2deg);
}
.featureItem:nth-of-type(2n) {
  flex-direction: row-reverse;
}
.featureItem:nth-of-type(2n) .featureItem-img {
  transform: rotate(-2deg);
}
.featureItem-content {
  padding: 30px;
}
.featureItem-content-title {
  margin-bottom: 30px;
  border-bottom: 2px dashed;
  font-size: 21px;
  opacity: 1;
  letter-spacing: 0;
  text-indent: 0;
}
.featureItem-content-desc {
  margin: 1em auto;
  font-size: 16px;
}
.featureItem::before {
  content: '';
  display: block;
  position: absolute;
  width: 105%;
  height: 100%;
  left: -2.5%;
  background-color: #EEE;
  border-radius: 80px;
  transform: rotate(-2deg);
  z-index: -1;
}
.featureItem:nth-of-type(2n)::before {
  transform: rotate(2deg);
}

.gallery {
  background-color: #210;
}
.trailer {
  display: block;
  margin: 50px auto 4%;
  max-height: 50vw;
}
.screenShotList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screenShotList-item {
  width: 31.33%;
  margin-bottom: 4%;
  border-radius: 20px;
  overflow: hidden;
}
.screenShotList-item-wrapper.selected {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.screenShotList-item img {
  display: block;
}

.play {
  padding: 80px 20px;
}
.play .buttonList {
  margin: 0 auto 5%;
  max-width: 720px;
}
.play .buttonList-item {
  margin: auto 20px;
}
.play .buttonList-item img {
  max-height: 60px;
}
.dataList-term,
.dataList-desc {
  display: inline;
  font-size: 1.3rem;
}
.dataList-term:not(:first-child) {
  margin-left: 1em;
}
.links {
  margin-top: 5px;
}
.links a {
  font-weight: bold;
}
.links a:hover {
  text-decoration: none;
}

.footer {
  position: relative;
  padding: 70px 15px 80px;
  background: #222;
  color: #FFF;
}
.footer small {
  display: block;
  font-size: 10px;
  color: #777;
}
.footer .copy {
  margin-top: 30px;
  font-size: 12px;
  color: #AAA;
}
.totop {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 3px solid #777;
  border-radius: 25px;
  transform: rotate(45deg);
  cursor: pointer;
}
.totop::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #777;
  border-right: transparent;
  border-bottom: transparent;
}
.banner {
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }
  .header {
    height: auto;
    max-height: none;
  }
  .headerBody {
    width: auto;
  }
  .lang {
    padding: 10px 15px;
  }
  .article {
    padding: 80px 40px;
  }
  .articleHeading {
    margin-bottom: 50px;
  }
  .play .buttonList-item {
    margin: auto 5px;
  }
  .totop {
    width: 50px;
    height: 50px;
  }
  .totop::before {
    width: 15px;
    height: 15px;
  }
  .featureItem,
  .featureItem:nth-of-type(2n) {
    flex-direction: column-reverse;
  }
  .featureItem-img {
    width: 100%;
  }
}

/* animations */
.transparent {
  opacity: 0;
}
.letterAnim {
  letter-spacing: 2em;
  text-indent: 2em;
  opacity: 0;
}
